*{
  margin: 0;
  font-family: 'Bai Jamjuree', sans-serif;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('./images/bg-header-desktop.png');
  background-repeat: no-repeat;
  overflow-x: hidden;
}
header{
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 50px;
}
.logo{
  width: 6rem;
}
header h1, header p{
  text-align: center;
}
.buttons{
  display: flex;
  align-items: center;
  gap: 20px;
}
button{
  width:300px;
  padding: 10px 0;
  background-color: hsl(171, 66%, 44%);
  border: 2px solid hsl(171, 66%, 40%);
  border-radius: 50px;
  color: white;
  font-size: 18px;
}
.mac{
  background-color: hsl(233, 100%, 69%);
  border:2px solid hsl(233, 100%, 69%);
}
button:hover{
  opacity: 0.8;
  cursor: pointer;
}
h1,h2,h3,h4{
  color: hsl(210, 10%, 33%);
}
p{
  color: hsl(201, 11%, 66%);
  font-size: 18px;
  text-align: center;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  max-width: 1200px;
  margin: 80px auto;
  overflow: hidden;
}
.snippets{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 800px;
}
.computer{
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 20px;
}
.computer-img{
  max-width: 70%;
  margin-left: -70px;
}
.computer-info{
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.computer-info p{
  text-align: left;
}
.clipboard{
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.workflow{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.misc{
  display: flex;
  margin: 10px;
  align-items: center;
  gap: 30px;
}
.misc div{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.logos{
  display: flex;
  align-items: center;
  gap: 100px;
}
.os{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 40px auto;
}

footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 99vw;
  background-color: hsl(201, 11%, 96%);
  padding: 20px;
}
.footer-logo{
  width: 4rem;
}
.links{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.social{
  display: flex;
  gap: 20px;
}
h4:hover{
  color: hsl(171, 66%, 44%);
  cursor: pointer;
}


@media screen and (max-width:1440px) {
  .computer{
    flex-direction: column;
  }
}

@media screen and (max-width:1024px) {
  *{
    flex-direction: column;
  }
  footer{
    gap: 20px;
  }
  .social{
    flex-direction: row;
  }
  main{
    max-width: 90%;
  }
  button{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
